<!--
# ITESM CEM, May 11, 2011.
# Ruby Source File
# Activity::  Final Project: Design Patterns Quiz App
# Authors::   1165536 Juliana Pena
-->

<h1>Questions Manager</h1>

<%= render 'mod_menu' %>

<% content_for(:title) do %>
  All Questions
<% end %>
