<script>
$(document).ready(function () {
    $(".selectpicker").selectpicker("destroy");
});
</script>

<h1>Choose Category</h1>

<%= form_tag({:controller => "quiz", :action => "start"}) do %>
  	<p><%= label_tag(:category, "Please Choose Question's Category", :id => "question") %></p>
  	<p><%= select(:category, nil, Question.distinct.pluck(:category), {:include_blank =>false},
  	 {:class => "selectpicker", required: true }) %> <br /></p>
  	<%= submit_tag "Continue"%>
<% end %>

<% content_for(:title) do %>
  Start Quiz
<% end %>
