// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-select";
/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 150px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: rgba(0,0,0,.5) !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-top: -100px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.button_p {
  background: #dcc7e0;
  background-image: -webkit-linear-gradient(top, #dcc7e0, #c977d9);
  background-image: -moz-linear-gradient(top, #dcc7e0, #c977d9);
  background-image: -ms-linear-gradient(top, #dcc7e0, #c977d9);
  background-image: -o-linear-gradient(top, #dcc7e0, #c977d9);
  background-image: linear-gradient(to bottom, #dcc7e0, #c977d9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline: none;
}

.button_p:hover {
  background: #ba70cc;
  background-image: -webkit-linear-gradient(top, #ba70cc, #ba91c2);
  background-image: -moz-linear-gradient(top, #ba70cc, #ba91c2);
  background-image: -ms-linear-gradient(top, #ba70cc, #ba91c2);
  background-image: -o-linear-gradient(top, #ba70cc, #ba91c2);
  background-image: linear-gradient(to bottom, #ba70cc, #ba91c2);
  text-decoration: none;
}

/* header */
.navbar-inverse {
     background-color: #c388ce; //purple
     border: none;
}

.nav.navbar-nav li a {
   color: rgba(0,0,0,.5);
 }

.nav.navbar-nav li a:hover {
 color: white;
}

#logo {
  float: left;
  margin-right: 20px;
  letter-spacing: -1px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

hr.style1 {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
