<footer class="footer">
  <small>
    The Quiz Online by <%= link_to "Trainers Team", home_support_contact_url%>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", home_about_url%></li>
      <% unless Trainer.all.pluck(:email).empty? %>
      <li><a href="mailto:<%= Trainer.all.pluck(:email)[0]%>">Contact</a></li>
      <% end %>
    </ul>
  </nav>
</footer>
